 
/* Red: #c51a17 Blue: #08244a*/

/* To get rid of the little white space at the top and sides of the page */
* {
   margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body, textarea {
  font-family: sans-serif;
  font-size: 17px;
}

body {
    text-align: center;
}

textarea {
  text-align: left;
}

nav {
  background-color: white;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5%;
  padding-left: 20px;
}

nav div{
   text-align: right;
}

nav li{
    padding: 0 20px;
}

ul, li {
  list-style: none;
  display: inline-block;
}

a {
  padding: 10px;
  border-radius: 100px;
}

/* Link Styles */
a:link, a:hover, a:visited, a:active {
  text-decoration: none;
}
  
nav a:link, nav a:active, nav a:visited {
  color: #08244a;
}
  
nav a:hover {
  color: #c51a17;
}
  
a:link {
  text-decoration: none;
  color: #08244a;
}
  
/* Exhibit view styles */
.exhibitImage {
  width: 65%;
  border-radius: 5px;
  /* min-width: 400px; */
}

#exhibitHeadline {
  font-size: 30px;
  margin: 15px 25px 0 25px;
  color: #08244a;
}

#exhibitDescription {
  margin: 30px 0;
}

.bold {
  font-weight: bold;
  color: #08244a;
}

.subHead{
  margin: 10px;
}

.subHead li{
  margin: 0 20px;
}

.icon {
  color: #08244a;
}

.navUser {
  width: 25px;
  vertical-align: middle;
  margin: 0 5px;
  color: white;
}

ul.artifactsList{
  font-size: 17px;
  font-family: sans-serif;
  list-style: circle;
  display: block;
}

.viewExhibitContainer{
  margin: 20px 20%;
}

.bullet {
  width: 5px;
  vertical-align: middle;
}

 /* Button Styles */
.button {
  background-color: pink;
  padding: 20px;
  border-radius: 0;
  display: inline-block;
}

.solid {
  background-color: #c51a17;
  color: white;
}

.solid:hover{
  background-color: #08244a;
}

.outlined {
  color: #c51a17;
  background-color: transparent;
  border: 1px solid #c51a17;
}

.outlined:hover {
  background-color: #c51a17;
  color: white;
  border: 1px solid #c51a17;
}

.artifactsContainer{
  margin-bottom: 30px;
}

/* Input field styles */
input[type=text], input[type=password], textarea, #status {
  border: 1px solid rgb(175, 175, 175);
  border-radius: 25px;
  padding: 5px 10px;
}

#exhibitNameField {
  text-align: center;
  font-size: 30px;
  width: 100%;
  color: #08244a;
}

#roomNumField {
  width: 50px;
}

#descriptionTextarea {
  text-align: left;
  vertical-align: text-top;
  width: 100%;
  font: sans-serif;
  margin: 10px 0;
  /* word-wrap:break-word;
  text-wrap:unrestricted; */
}

#editContainer{
  display: none;
}

/* Login Page specific Styles */
.error {
  color: rgb(163, 15, 15);
}

#loginBody{
  background-image: url("images/login.jpg");
  background-size: cover;
}


.loginContainer{
  width: 300px;
  margin: 10% auto;
  text-align: center;
  padding: 45px 30px;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 10px;
  background-color: white;
}

.loginContainer h2 {
  margin-bottom: 20px;
}

#loginButton{
  padding: 15px;
  width: 50%;
}

/* Account overview specific Styles */
#accountContainer{
  margin: 100px auto;
  display: inline-block;
  text-align: center;
}

table, td, tr, td {
  border-bottom: 1px solid rgb(175, 175, 175);
  border-collapse: collapse;
}

th {
  color: #08244a;
}

#accountContainer td,  #accountContainer th {
  padding: 10px 100px;
}